/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    height: 100vh;
    min-height: 100vh; 
    background: linear-gradient(to bottom, #f9f9f9 65%, #b3b3b3 190%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.sidebar {
    background: linear-gradient(to bottom, #eeeded 65%, #c2c2c2 100%);
    border: 1px solid #7B5AFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.sidebar h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D0833;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #7B5AFF;
    padding-bottom: 5%;
    width: 100%;
    font-weight: bold;
}

.logo-title {
    width: 150px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.menu-item2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que o conteúdo da div seja centralizado */
    align-self: center; /* Centraliza o botão horizontalmente na sidebar */
    margin-top: 0; /* Garante que ele fique na parte superior */
}

.menu-item2 img {
    width: 16px;
    height: 16px;
}

.menu-link {
    text-decoration: none;
    color: #120F43;
    cursor: pointer;
}

.menu-link:hover {
    color: #553fd6;
}

.about {
    background: linear-gradient(190deg, #554bc4 30%, #332c86 70%); 
    color: white;
    padding: 60px 20px 30px 20px;
    height: auto;
    border-radius: 20px;
    text-align: center;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Posiciona o "Sobre" na parte inferior */
}

.about .circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(190deg, white 50%, #CCCCCC 100%);
    border: 5px solid #554bc4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .circle img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.about h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.about p {
    margin: 25px 0 0 0;
    font-size: 14px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h2 {
    color: #1B2559;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    gap: 10px 0;
}

.input-container textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #4037a0;
    margin-top: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o botão à esquerda */
    gap: 10px 0 0 0;
}

.button {
    width: 200px;
    height: 40px;
    background: linear-gradient(190deg, #acacac, #585858);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin: 20px 0 0 0;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

.button:hover {
    background: linear-gradient(190deg, #554bc4, #332c86);
    outline: 2px solid #FFF;
}


.button:active {
    background: linear-gradient(190deg, #332c86, #1a145a);
}

.button:disabled {
    background: #CCCCCC;
    cursor: not-allowed;
}

.button a {
    color: white;
    text-decoration: none;
}

.refresh-button {
    margin-top: 10px;
}

.icon-white {
    filter: brightness(0) invert(1); /* Deixa a imagem branca */
    margin-right: 8px; /* Espaçamento entre a imagem e o texto */
    width: 16px;
    height: 16px;
}

.button-container button {
    background: #CCCCCC;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.button-container button:hover {
    background: linear-gradient(190deg, #554bc4, #332c86);
    outline: 2px solid #FFF;
}

.button-container button:active {
    background: linear-gradient(190deg, #332c86, #1a145a);
}

.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    position: relative;
    flex: 1;
    gap: 10px;
    justify-content: flex-end;
}

#chat-box {
    display: flex;
    position: relative;
    flex-direction: column; /* Altera para coluna normal */
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Ajuste para manter o espaçamento */
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}

#user-input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #b1a3ff;
    margin-top: auto;
    padding-right: 110px; /* Espaço para o botão */
}

#send-button {
    position: absolute;
    bottom: 14px;
    right: 10px;
    background: linear-gradient(190deg, #554bc4, #332c86);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1; /* Garante que o botão fique acima do textarea */
}

#send-button:disabled {
    background: #CCCCCC;
    cursor: not-allowed;
}

#send-button:hover {
    background: linear-gradient(190deg, #554bc4, #332c86);
    outline: 2px solid #FFF;
}

#send-button:active {
    background: linear-gradient(190deg, #332c86, #1a145a);
}


.result-image {
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
    left: calc(50% - 10px);
}

.message {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.user {
    align-self: flex-end;
    background-color: #332c86; 
    color: #ffffff;
}

.bot {
    align-self: flex-start;
    background-color: #CCCCCC;
    color: #ffffff
}

.hidden {
    display: none;
}

#raio-image {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-70%, -50%);
    width: 30vh;
    height: auto;
    z-index: -1;
    opacity: 0.10;
}

/* Container do histórico que sobrepõe o chat-box */
#history-box {
    display: none; /* Começa oculto */
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-46%, -50%);
    width: 100%; /* Ajuste conforme necessário */
    max-width: 1350px; /* Limita a largura máxima */
    height: 60%; /* Ajuste conforme necessário */
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    z-index: 1000; /* Certifica que ele ficará sobre o chat-box */
    border-radius: 10px;
    overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a caixa */
    padding: 20px;
}

/* Conteúdo do histórico */
#history-content {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    align-items: center;
}

/* Botão de fechar o histórico */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

/* Adiciona um efeito de hover no botão de fechar */
.close-btn:hover {
    color: #ff0000;
}

/* Estilos para o modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.hidden {
    display: none;
}
/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }

    .input-container textarea,
    .button-container,
    .chat-container {
        width: 95%;
        max-width: 100%;
    }

    #chat-box {
        max-height: 300px;
    }

    #raio-image {
        width: 20vh;
    }

    #history-box {
        width: 90%; /* Maior largura em dispositivos móveis */
        height: 70%; /* Aumenta a altura em dispositivos móveis */
        padding: 15px; /* Ajusta o padding para telas menores */
    }

    .close-btn {
        font-size: 18px; /* Diminui o tamanho do botão de fechar em telas menores */
        top: 8px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 30px 5px;
        height: auto;
    }

    .about .circle {
        width: 50px;
        height: 50px;
        top: -25px;
    }

    .input-container textarea,
    .button-container,
    .chat-container {
        width: 100%;
        max-width: 100%;
    }

    .input-container textarea {
        font-size: 14px;
    }

    .button-container button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #chat-box {
        max-height: 250px;
    }

    #history-box {
        width: 95%; /* Quase toda a largura da tela em dispositivos muito pequenos */
        height: 80%; /* Aumenta a altura para usar mais da tela */
        padding: 10px; /* Reduz o padding para telas muito pequenas */
    }

    .close-btn {
        font-size: 16px; /* Ajuste adicional para o botão de fechar */
        top: 5px;
        right: 8px;
    }
}