body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    height: 100vh;
    min-height: 100vh; 
    background: linear-gradient(to bottom, #ffffff 65%, #aaaaaa 190%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mdc-fab {
    background-color: #a9a9a9;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500px;
    padding: 12px 20px;
    display: flex;
    text-transform: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content:flex-start;
}

.mdc-fab:hover {
    background-color: #585858;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mdc-fab:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
}

.mdc-fab .mdc-fab__icon {
    margin-right: 8px;
    font-size: 16px;
}

.mdc-fab .mdc-fab__label {
    font-size: 16px;
}

.barra-lateral {
    position: relative;
    background: linear-gradient(to bottom, #eeeded 65%, #c2c2c2 100%);
    border: 1px solid #7B5AFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para criar o efeito 3D */
}

.barra-lateral h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D0833;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #7B5AFF;
    padding-bottom: 5%;
    width: 100%;
    font-weight: bold;
}

.logo-title {
    width: 150px; 
    height: auto; 
}

.menu-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 0;
}

.menu-item img {
    width: 16px;
    height: 16px;
}

.menu-link {
    text-decoration: none; 
    color: #120F43;
    cursor: pointer;
}

.menu-link:hover {
    color: #553fd6;
}

#customizar-formulario form {
    display: flex;
    flex-direction: column;
}
  
#customizar-formulario md-filled-text-field, md-outlined-select {
    width: 100%;
}
  
#customizar-formulario textarea {
    width: 100%;
    height: 100px;
    resize: none;
}
  
.mdc-button {
    background-color: #CCCCCC;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500px;
    padding: 10px 20px;
    display: flex;
    text-transform: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px; 
}
  
.mdc-button:hover {
    background-color: #424242;
}
  
.mdc-button:active {
    background-color: #303030;
}
  
.container-sobre {
    background: linear-gradient(190deg, #554bc4 30%, #332c86 70%); 
    color: white;
    padding: 60px 20px 30px 20px;
    height: auto;
    border-radius: 20px;
    text-align: center;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.container-sobre .circulo-sobre {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(190deg, white 50%, #CCCCCC 100%);
    border: 5px solid #554bc4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sobre .circulo-sobre img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.container-sobre h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.container-sobre p {
    margin: 25px 0 0 0;
    font-size: 16px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h2 {
    color: #1B2559;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    gap: 10px 0;
}

.input-container textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #4037a0;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    margin-top: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.button-novocaso {
    margin-top: 10px;
}

.icone-branco {
    filter: brightness(0) invert(1);
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    position: relative;
    flex: 1;
    gap: 10px;
    justify-content: flex-end;
}

#chat-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#chat-box.ocultar {
    display: none;
}

.agrupar-textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
}

#user-input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #b1a3ff;
    border-radius: 15px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    margin-top: auto;
    padding-right: 110px;
}

#button-enviar {
    position: absolute;
    bottom: 16px;
    right: 10px;
    background: #585858;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

#button-enviar:disabled {
    background: #a9a9a9;
    cursor: not-allowed;
}

#button-enviar:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
}

.imagem-chat-box {
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
    left: calc(50% - 10px);
}

.message {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.user {
    align-self: flex-end;
    background-color: #332c86; 
    color: #ffffff;
}

.bot {
    align-self: flex-start;
    background-color: #585858;
    color: #ffffff
}

#icone-central {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-70%, -50%);
    width: 30vh;
    height: auto;
    z-index: -1;
    opacity: 0.10;
}

#historico-box {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(250px + 50%);
    transform: translate(-60%, -50%);
    width: calc(100% - 300px);
    max-width: 1300px;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#informacoes-historico {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    align-items: center;
}

.historico-data {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
    margin-top: 20px;
}

.data-separada {
    border-bottom: 1px solid #7B5AFF;
    margin: 20px 0;
}

.historico-mensagem {
    margin-bottom: 10px;
}

.message-system {
    background-color: #f1f1f1;
    border-left: 5px solid #3f51b5;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

.message-user {
    background-color: #e3f2fd;
    border-left: 5px solid #2196f3;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

.message-assistant {
    background-color: #fce4ec;
    border-left: 5px solid #e91e63;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

.button-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.button-fechar:hover {
    color: #ff0000;
}

#customizar-formulario {
    position: absolute;
    top: 50%;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1000;
    box-sizing: border-box;
    font-weight: bold;
    color: #1B2559;
    margin-top: 15px;
}

#personalizarcaso {
    margin: 0 0 20px 0;
    text-align: center;
}

#customizar-formulario .grupo-formulario {
    flex: 1;
    font-weight: bold;
}

#customizar-formulario .row-formulario {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 10px;
    margin-bottom: 15px;
    color: #1B2559;
}

#customizar-formulario .grupo-formulario label {
    display: block;
    font-weight: bold;
    color: #1B2559;
    margin-bottom: 5px;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
}

#customizar-formulario .grupo-formulario input[type="number"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#customizar-formulario .grupo-formulario select,
#customizar-formulario textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
}

#customizar-formulario textarea {
    resize: none;
    min-height: 100px;
}

#customizar-formulario button {
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    background-color: #a9a9a9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    align-self: flex-end;
}

#customizar-formulario button:hover {
    background-color: #585858;
}

#customizar-formulario button:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
}

.ocultar {
    display: none;
}
.hidden {
    display: none;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.radio-item input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.radio-item input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #333; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.radio-item label {
    font-size: 16px;
    color: #333;
}

@media screen and (min-width: 1920px) {

    .container-sobre {
        padding: 100px 50px;
        max-width: 80%;
        margin-top: 50px;
    }

    .container-sobre .circulo-sobre {
        width: 150px;
        height: 150px;
    }

    .container-sobre .circulo-sobre img {
        width: 100%;
        height: auto;
    }

    .barra-lateral .logo-title {
        width: 300px;
        height: auto;
    }

    .mdc-button, .mdc-fab {
        font-size: 20px;
        padding: 20px 40px;
    }

    .chat-container {
        max-width: 1800px;
    }

    #chat-box {
        max-height: 85vh;
    }

    #icone-central {
        width: 50vh;
        height: 50vh;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .barra-lateral {
        width: 80%; /* Menos espaço para a barra lateral */
        padding: 10px;
    }

    .main-content {
        padding: 15px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px 30px;
    }

    .container-sobre {
        width: 85%;
        padding: 20px 15px;
        max-width: 100%;
        font-size: 14px;
        margin-top: 30px;
    }

    .container-sobre h1 {
        font-size: 18px;
    }

    .container-sobre p {
        font-size: 14px;
        margin-top: 20px;
    }

    .input-container textarea,
    .chat-container {
        width: 90%;
        max-width: 100%;
    }

    #chat-box {
        max-height: 400px; /* Um pouco mais de espaço em telas maiores */
        justify-content: center;
    }

    #icone-central {
        width: 25vh;
    }

    #historico-box {
        width: 80%;
        height: 60%;
    }

    #customizar-formulario {
        width: 85vw;
        max-height: 80vh;
    }

    .button-fechar {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .barra-lateral {
        width: 100%;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        min-width: unset;
        padding: 12px 20px;
    }

    .container-sobre .circulo-sobre {
        width: 40px;
        height: 40px;
        top: -25px;
    }

    .container-sobre .circulo-sobre img {
        width: 40px;
        height: 40px;
    }

    .container-sobre {
        width: 100%;
        padding: 15px 10px;
        max-width: 100%;
        font-size: 12px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .container-sobre h1 {
        font-size: 16px;
        padding: 0 5px;
    }

    .container-sobre h3 {
        font-size: 16px;
    }

    .container-sobre p {
        font-size: 12px;
        margin-top: 15px;
    }

    #button-personalizar {
        margin-bottom: 20px;
    }

    .input-container textarea,
    .chat-container {
        width: 95%;
        max-width: 100%;
    }

    #chat-box {
        max-height: 300px;
    }

    #icone-central {
        width: 20vh;
    }

    #historico-box {
        left: 50%;
        width: 90%;
        height: 70%;
    }

    #customizar-formulario {
        width: 95vw;
        height: auto;
        max-height: 85vh;
    }

    .button-fechar {
        font-size: 18px;
        top: 8px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .container-sobre {
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .container-sobre h1, .container-sobre p {
        font-size: 14px;
        text-align: center;
        padding: 0 5px;
    }

    .container-sobre .circulo-sobre {
        width: 30px;
        height: 30px;
        top: -20px;
    }

    .container-sobre img, .container-sobre .circulo-sobre {
        max-width: 100%;
        height: auto;
    }

    .input-container textarea,
    .button-container,
    .chat-container {
        width: 100%;
        max-width: 100%;
    }

    .input-container textarea {
        font-size: 14px;
    }

    .button-container .mdc-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #chat-box {
        max-height: 250px;
    }

    #historico-box {
        width: 100%;
        height: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
    }

    #customizar-formulario {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95vw;
        height: auto;
        max-height: 85vh;
        padding: 10px;
    }

    .button-fechar {
        font-size: 16px;
        top: 5px;
        right: 8px;
    }
}
