body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    height: 100vh;
    min-height: 100vh; 
    background: linear-gradient(to bottom, #ffffff 65%, #bdbdbd 190%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.btn-primary {
    background-color: #a9a9a9;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    padding: 8px 15px;
    display: flex;
    text-transform: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content:flex-start;
    vertical-align: middle;
}

.btn-primary:hover {
    background-color: #424242;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
}

.btn .bi {
    margin-right: 8px;
    font-size: 16px;
    vertical-align: middle;
}

.barra-lateral {
    position: relative;
    background: linear-gradient(to bottom, #f5f5f5 65%, #bdbdbd 100%);
    border: 1px solid #7B5AFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
}

.barra-lateral h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D0833;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #7B5AFF;
    padding-bottom: 5%;
    width: 100%;
    font-weight: bold;
}

.logo-title {
    width: 120px; 
    height: auto; 
}

.menu-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 0;
}

.menu-item img {
    width: 16px;
    height: 16px;
}
  
.container-sobre {
    background: linear-gradient(190deg, #554bc4 30%, #332c86 70%); 
    color: white;
    padding: 15px 1px;
    height: auto;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.container-sobre .circulo-sobre {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(190deg, #f5f5f5 50%, #bdbdbd 100%);
    border: 5px solid #554bc4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container-sobre .circulo-sobre img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.container-sobre h3 {
    margin: 10px 0 15px 0;
    font-size: 17px;
}

.container-sobre p {
    margin: 25px 0 0 0;
    font-size: 14px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h2 {
    color: #1a237e;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    gap: 10px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;
}

.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    position: relative;
    flex: 1;
    gap: 10px;
    justify-content: flex-end;
}

#chat-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#chat-box.ocultar {
    display: none;
}

.agrupar-textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
}

#user-input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #b1a3ff;
    border-radius: 15px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    margin-top: auto;
    padding-right: 110px;
}

#button-enviar {
    position: absolute;
    bottom: 16px;
    right: 10px;
    background: #424242;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

#button-enviar:disabled {
    background: #a9a9a9;
    cursor: not-allowed;
}

#button-enviar:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
}

.imagem-chat-box {
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
    left: calc(50% - 10px);
}

.message {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.user {
    align-self: flex-end;
    background-color: #332c86; 
    color: #ffffff;
}

.bot {
    align-self: flex-start;
    background-color: #616161;
    color: #ffffff
}

#icone-central {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-70%, -50%);
    width: 30vh;
    height: auto;
    z-index: -1;
    opacity: 0.10;
}

#historico-box {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(180px + 50%);
    transform: translate(-50%, -50%);
    width: calc(100% - 300px);
    max-width: 1300px;
    height: 60%;
    width: 50%;
    max-height: 90vh;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#informacoes-historico {
    font-size: 16px;
    line-height: 1.5;
    color: #212121;
    align-items: center;
}

.historico-data {
    font-size: 18px;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 20px;
}

.data-separada {
    border-bottom: 1px solid #7B5AFF;
    margin: 20px 0;
}

.historico-mensagem {
    margin-bottom: 10px;
}

.button-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.button-fechar:hover {
    color: #ff0000;
}

#customizar-formulario {
    flex-direction: column;
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    max-height: 70vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1000;
    box-sizing: border-box;
    font-weight: bold;
    color: #1B2559;
    overflow-y: auto;
}

#customizar-formulario form {
    display: flex;
    flex-direction: column;
}

#customizar-formulario .grupo-formulario {
    flex: 1;
    font-weight: bold;
}

#customizar-formulario .row-formulario {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 10px;
    margin-bottom: 15px;
    color: #1B2559;
}

#customizar-formulario .grupo-formulario label {
    display: block;
    font-size: 12px;
}

#customizar-formulario .grupo-formulario input[type="number"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 12px;
}

#customizar-formulario .grupo-formulario select,
#customizar-formulario textarea {
    width: 95%;
    padding: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
}

#customizar-formulario textarea {
    resize: none;
    width: 95%;
    height: 80px;
}

#customizar-formulario button {
    background-color: #a9a9a9;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#customizar-formulario button:hover {
    background-color: #424242;
}

#customizar-formulario button:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
}

#iconedoaplicar {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#íconedoresetar {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#customizar-formulario .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

#personalizarcaso {
    margin: 0 0 20px 0;
    text-align: center;
}

.ocultar {
    display: none;
}
.hidden {
    display: none;
}

.radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top: 0;
}

.form-check-label {
    font-size: 16px;
    color: #212121;
    line-height: 18px;
}

.form-check-input:checked {
    background-color: #212121;
    border-color: #212121;
}

@media screen and (min-width: 1440px) {
    .container-sobre {
        max-width: 1366px;
        margin: 20px auto; 
        padding: 40px 20px 20px 20px;
        margin-top: auto;
    }

    .container-sobre .circulo-sobre {
        width: 60px;
        height: 60px;
    }
    
    .container-sobre h3 {
        margin: 0 0 10 0;
        font-size: 20px;
    }
    
    .container-sobre p {
        font-size: 16px;
    }
    
    .barra-lateral {
        width: 310px;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    #button-enviar {
        padding: 10px 20px;
    }
    
    #historico-box {
        width: 50%;
        margin: 0 auto; 
        position: fixed; 
        top: 50%;
        left: 57%;
        transform: translate(-50%, -50%);
    }

    #customizar-formulario {
        width: 50%;
        margin: 0 auto; 
        position: fixed; 
        top: 50%;
        left: 58%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 16px;
    }

    #customizar-formulario .grupo-formulario select, #customizar-formulario textarea {
        padding: 8px;
        font-size: 16px;
    }

    #customizar-formulario .grupo-formulario label {
        font-size: 16px;
    }
    
    #customizar-formulario .grupo-formulario input[type="number"] {
        padding: 10px;
        font-size: 16px;
    }

    #customizar-formulario button {
        font-size: 16px;
        padding: 8px 20px;
    }

    #customizar-formulario textarea {
        height: 100px;
    }

    .form-check-input {
        width: 20px;
        height: 20px;
    }

    #icone-central {
        left: 60%;
    }

    .logo-title {
        width: 120px; 
    }

    .header, .footer {
        padding: 30px;
    }
}

@media screen and (max-width: 800px) and (max-height: 616px) {
    .container-sobre {
        max-width: 1366px;
        margin: 20px auto; 
        padding: 40px 20px 20px 20px;
        margin-top: auto;
    }

    .container-sobre .circulo-sobre {
        width: 60px;
        height: 60px;
    }
    
    .container-sobre h3 {
        margin: 0 0 10 0;
        font-size: 20px;
    }
    
    .container-sobre p {
        font-size: 16px;
    }

    .barra-lateral {
        width: 35%;
        height: auto;
        margin-bottom: 10px;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    #historico-box {
        width: 50%;
        max-height: 85vh;
        overflow-y: auto;
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #customizar-formulario {
        width: 90%;
        max-height: 90vh;
        overflow-y: auto;
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 58%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 16px;
    }

    #customizar-formulario .grupo-formulario select, #customizar-formulario textarea {
        padding: 8px;
        font-size: 16px;
    }

    #customizar-formulario .grupo-formulario label {
        font-size: 16px;
    }
    
    #customizar-formulario .grupo-formulario input[type="number"] {
        padding: 10px;
        font-size: 16px;
    }

    #customizar-formulario button {
        font-size: 16px;
        padding: 8px 20px;
        margin-top: 10px;
    }

    #customizar-formulario textarea {
        height: 100px;
    }

    .form-check-input {
        width: 20px;
        height: 20px;
    }

    #button-enviar {
        padding: 10px 20px;
    }

    .logo-title {
        width: 120px; 
    }

    #icone-central {
        left: 60%;
    }

    .header, .footer {
        padding: 10px;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .barra-lateral {
        width: 100%;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        min-width: unset;
        padding: 12px 20px;
    }

    .container-sobre .circulo-sobre {
        width: 40px;
        height: 40px;
        top: -30px;
    }

    .container-sobre .circulo-sobre img {
        width: 40px;
        height: 40px;
    }

    .container-sobre {
        width: 100%;
        padding: 15px 10px;
        max-width: 100%;
        font-size: 14px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .container-sobre h1 {
        font-size: 16px;
        padding: 0 5px;
    }

    .container-sobre h3 {
        font-size: 16px;
    }

    .container-sobre p {
        font-size: 14px;
        margin-top: 15px;
    }

    #button-personalizar {
        margin-bottom: 20px;
    }

    .input-container textarea, /**/
    .chat-container {
        width: 95%;
        max-width: 100%;
    }

    #chat-box {
        max-height: 300px;
    }

    #icone-central {
        width: 20vh;
    }

    #historico-box {
        left: 50%;
        width: 90%;
        height: 70%;
    }

    #customizar-formulario {
        width: 95vw;
        height: auto;
        max-height: 85vh;
    }

    .button-fechar {
        font-size: 18px;
        top: 8px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .container-sobre {
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .container-sobre h1, .container-sobre p {
        font-size: 14px;
        text-align: center;
        padding: 0 5px;
    }

    .container-sobre .circulo-sobre {
        width: 50px;
        height: 30px;
        top: -25px;
    }

    .container-sobre img, .container-sobre .circulo-sobre {
        max-width: 100%;
        height: auto;
    }

    .input-container textarea, /**/
    .button-container,
    .chat-container {
        width: 100%;
        max-width: 100%;
    }

    .input-container textarea { /**/
        font-size: 14px;
    }

    .button-container .btn-primary-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #chat-box {
        max-height: 250px;
    }

    #historico-box {
        width: 100%;
        height: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
    }

    #customizar-formulario {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95vw;
        height: auto;
        max-height: 85vh;
        padding: 10px;
    }

    .button-fechar {
        font-size: 16px;
        top: 5px;
        right: 8px;
    }
}
