<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PsicoSimula</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ferramentasweb/styles.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://unpkg.com/@material/web@1.0.0/dist/md-filled-text-field/md-filled-text-field.css" rel="stylesheet">
    <link href="https://unpkg.com/@material/web@1.0.0/dist/md-outlined-select/md-outlined-select.css" rel="stylesheet">

    <link href="https://material.io/static/css/material-components-web.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'ferramentasweb/images/logo3.png' %}" type="image/png">
</head>
<body>
    <div class="container">
        <div class="barra-lateral">
            <img src="{% static 'ferramentasweb/images/logo1.png' %}" alt="Logo PsicoSimula" class="logo-title">
            <h1></h1>
            <div class="menu-item">
                <div class="button-container">
                    <!-- Botão Gerar Novo Caso -->
                    <button id="button-novocaso" class="mdc-fab mdc-fab--extended button-novocaso">
                        <span class="mdc-fab__icon">
                            <img src="{% static 'ferramentasweb/images/Vector3.png' %}" alt="Ícone Gerar Caso" class="icone-branco">
                        </span>
                        <span class="mdc-fab__label">Gerar Novo Caso</span>
                    </button>

                    <!-- Botão Histórico -->
                    <button class="mdc-fab mdc-fab--extended" id="button-historico">
                        <span class="mdc-fab__icon">
                            <img src="{% static 'ferramentasweb/images/Historico.png' %}" alt="Ícone Histórico" class="icone-branco">
                        </span>
                        <span class="mdc-fab__label">Histórico</span>
                    </button>

                    <!-- Botão Compartilhar -->
                    <button class="mdc-fab mdc-fab--extended" id="button-compartilhar">
                        <span class="mdc-fab__icon">
                            <img src="{% static 'ferramentasweb/images/Download.png' %}" alt="Ícone Compartilhar" class="icone-branco">
                        </span>
                        <span class="mdc-fab__label">Compartilhar</span>
                    </button>

                    <!-- Botão Personalizar -->
                    <button class="mdc-fab mdc-fab--extended" id="button-personalizar">
                        <span class="mdc-fab__icon">
                            <img src="{% static 'ferramentasweb/images/personalizar.png' %}" alt="Ícone Personalizar" class="icone-branco">
                        </span>
                        <span class="mdc-fab__label">Personalizar</span>
                    </button>
                </div>
            </div>
            <div class="container-sobre">
                <div class="circulo-sobre">
                    <img src="{% static 'ferramentasweb/images/logo4.png' %}" alt="Ícone Logo" />
                </div>
                <h3>Sobre</h3>
                <p>Explore e gere casos clínicos hipotéticos para estudo em psicopatologia com o poder da inteligência artificial generativa. Encontre respostas e recursos que você precisa.</p>
            </div>
        </div>
        <div class="main-content">
            <h2>Casos Hipotéticos</h2>
            <img id="icone-central" src="{% static 'ferramentasweb/images/psicosimula.png' %}" alt="Ícone Central">
            <!-- Modal para personalização -->
            <div id="janela-de-personalizacao" class="janela ocultar">
                <div class="modal-content">
                    <form id="customizar-formulario">
                        <span class="button-fechar">&times;</span>
                        <h2 id="personalizarcaso">Personalize o Caso Clínico</h2>
                        
                        <!-- Container para Idade e Sexo lado a lado -->
                        <div class="row-formulario">
                            <!-- Campo de Idade -->
                            <div class="grupo-formulario">
                                <label for="idade">Idade</label>
                                <input id="idade" name="idade" type="number" min="0" step="1" placeholder="Idade">
                            </div>
            
                            <!-- Campo de Sexo -->
                            <div class="grupo-formulario">
                                <label for="sexo">Sexo</label>
                                <select id="sexo" name="sexo">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                        </div>
            
                        <!-- Campos de Histórico Médico e Contexto Social -->
                        <label for="historico-medico">Histórico Médico</label>
                        <textarea id="historico-medico" name="historico-medico" placeholder="Histórico Médico"></textarea>
            
                        <label for="contexto-social">Contexto Social</label>
                        <textarea id="contexto-social" name="contexto-social" placeholder="Contexto Social"></textarea>
                        <!-- Radio buttons para Nível de Complexidade -->
                        <div class="grupo-formulario">
                            <label class="mdc-typography--subtitle1">Nível de Complexidade</label>
                            
                            <div class="radio-group">
                                <div class="radio-item">
                                    <input type="radio" id="nivel-basico" name="nivel-complexidade" value="basico" />
                                    <label for="nivel-basico">Básico</label>
                                </div>
                                
                                <div class="radio-item">
                                    <input type="radio" id="nivel-intermediario" name="nivel-complexidade" value="intermediario" />
                                    <label for="nivel-intermediario">Intermediário</label>
                                </div>
                                
                                <div class="radio-item">
                                    <input type="radio" id="nivel-avancado" name="nivel-complexidade" value="avancado" />
                                    <label for="nivel-avancado">Avançado</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="mdc-button mdc-button--raised">
                            <span class="mdc-fab__icon">
                                <img src="{% static 'ferramentasweb/images/add.png' %}" alt="Ícone Aplicar" class="icone-branco" id="iconedoaplicar">
                            </span>
                            <span class="mdc-fab__icon">Aplicar</span>
                        </button>

                        <button type="submit" class="mdc-button mdc-button--raised button-resetar">
                            <span class="mdc-fab__icon">
                                <img src="{% static 'ferramentasweb/images/resetar.png' %}" alt="Ícone Resetar" class="icone-branco" id="íconedoresetar">
                            </span>
                            <span class="mdc-fab__icon" >Resetar</span>
                        </button>
                    </form>
                </div>
            </div>
    
            <div class="chat-container">
                <div id="chat-box" class="ocultar">
                    <div>
                        <img src="{% static 'ferramentasweb/images/Brilho.png' %}" alt="Ícone Resultado" class="imagem-chat-box"/>
                    </div>
                </div>
                <div class="input-container">
                    <div class="agrupar-textarea">
                        <textarea id="user-input" placeholder="Informe o caso clínico"></textarea>
                        <button id="button-enviar" class="mdc-fab mdc-fab--extended" disabled>
                            <span class="mdc-fab__icon material-icons">send</span>
                            <span class="mdc-fab__label">Simular</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="historico-box" class="ocultar">
            <button class="button-fechar">&times;</button>
            <div id="informacoes-historico"></div>
        </div>
    </div>

    <input type="hidden" name="user_id" value="{{ user_id }}">

    <!-- Campo ocultar para armazenar o ID do usuário -->
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <script type="module" src="https://unpkg.com/@material/web@1.0.0/textfield/filled-text-field.js"></script>
    <script type="module" src="https://unpkg.com/@material/web@1.0.0/select/outlined-select.js"></script>
    <script type="module" src="https://unpkg.com/@material/mwc-button@latest/mwc-button.js"></script>
    <script type="module" src="https://unpkg.com/@material/mwc-select@latest/mwc-select.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const chatBox = document.getElementById('chat-box');
            const userInput = document.getElementById('user-input');
            const buttonEnviar = document.getElementById('button-enviar');
            const buttonNovoCaso = document.getElementById('button-novocaso');
            const buttonCompartilhar = document.getElementById('button-compartilhar');
            const buttonHistorico = document.getElementById('button-historico');
            const historicoBox = document.getElementById('historico-box');
            const informacoesHistorico = document.getElementById('informacoes-historico');
            const buttonFecharHistorico = document.querySelector('#historico-box .button-fechar');
            const buttonPersonalizar = document.getElementById('button-personalizar');
            const janelaPersonalizacao = document.getElementById('janela-de-personalizacao');
            const customizarButtonFechar = document.querySelector('#janela-de-personalizacao .button-fechar');
            const formularioCustomizar = document.getElementById('customizar-formulario');
            const buttonResetar = document.querySelector('.button-resetar');

            const idadeInput = document.getElementById('idade');
            const sexoInput = document.getElementById('sexo');
            const historicoMedicoInput = document.getElementById('historico-medico');
            const contextoSocialInput = document.getElementById('contexto-social');
            const nivelComplexidadeInputs = document.querySelectorAll('input[name="nivel-complexidade"]');


            let personalizacaoDados = {};  // Para armazenar os dados de personalização
            
            // Função para preencher os campos com os dados da personalização
            async function preencherCamposPersonalizacao() {
                try {
                    const response = await fetch("{% url 'personalizacao_dados' %}", {
                        method: 'GET',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    });
                    const data = await response.json();
        
                    if (data.personalizacao) {
                        idadeInput.value = data.personalizacao.idade || '';
                        sexoInput.value = data.personalizacao.sexo || '';
                        historicoMedicoInput.value = data.personalizacao.historico_medico || '';
                        contextoSocialInput.value = data.personalizacao.contexto_social || '';
        
                        nivelComplexidadeInputs.forEach(input => {
                            if (input.value === data.personalizacao.nivel_complexidade) {
                                input.checked = true;
                            }
                        });
                    }
                } catch (error) {
                    console.error(error);
                    alert('Ocorreu um erro ao carregar os dados de personalização.');
                }
            }
        
            // Adiciona evento para abrir o modal e preencher os campos
            buttonPersonalizar.addEventListener('click', function() {
                preencherCamposPersonalizacao();
            });
            
            
            // Função para resetar os campos de personalização e remover a personalização da sessão
            buttonResetar.addEventListener('click', async function() {
                // Limpar os campos de personalização
                document.getElementById('idade').value = '';
                document.getElementById('sexo').value = '';
                document.getElementById('historico-medico').value = '';
                document.getElementById('contexto-social').value = '';
                document.querySelector('input[name="nivel-complexidade"]:checked').checked = false;
        
                // Remover a personalização da sessão
                try {
                    const response = await fetch("{% url 'resetar_personalizacao' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    });
        
                    if (!response.ok) throw new Error('Erro ao resetar personalização');
                    
                    const result = await response.json();
                    alert(result.message);  // Exibir uma mensagem de sucesso
                } catch (error) {
                    console.error(error);
                    alert('Ocorreu um erro ao tentar resetar a personalização.');
                }
            });
            
            // Função para mostrar um modal e ocultar o chat-box
            function exibirModal(modal) {
                historicoBox.style.display = 'none';
                janelaPersonalizacao.style.display = 'none';
                chatBox.classList.add('ocultar');
                modal.style.display = 'block';
            }
        
            // Função para fechar todos os modais e mostrar o chat-box
            function fecharModals() {
                historicoBox.style.display = 'none';
                janelaPersonalizacao.style.display = 'none';
                chatBox.classList.remove('ocultar'); // Mostra o chat-box
            }
        
            // Função para compartilhar o conteúdo da conversa
            function compartilharConteudoConsulta() {
                const mensagens = chatBox.querySelectorAll('.message');
                let consultaConteudo = '';
        
                mensagens.forEach(mensagem => {
                    consultaConteudo += mensagem.textContent + '\n';
                });
        
                if (consultaConteudo.trim() === "") {
                    alert('Nenhuma consulta disponível para compartilhar.');
                    return;
                }
        
                if (navigator.share) {
                    navigator.share({
                        title: 'Consulta do PsicoSimula',
                        text: consultaConteudo.trim(),
                    })
                    .then(() => console.log('Consulta compartilhada com sucesso'))
                    .catch((error) => console.error('Erro ao compartilhar:', error));
                } else {
                    alert('O compartilhamento não é suportado neste dispositivo.');
                }
            }
        
            // Adiciona o evento ao botão de compartilhar
            buttonCompartilhar.addEventListener('click', compartilharConteudoConsulta);
        
            // Função para enviar a mensagem
            function enviarMensagem() {
                const userMessage = userInput.value.trim();
                if (userMessage !== '') {
                    adicionarMensagemChat('user', userMessage);
                    processarMensagem(userMessage);
                    userInput.value = '';
                    buttonEnviar.disabled = true;
                }
            }
        
            // Adiciona o evento ao botão de enviar
            buttonEnviar.addEventListener('click', function() {
                fecharModals(); // Fecha todos os modais antes de enviar a mensagem
                enviarMensagem();
            });
        
            // Habilita o botão de enviar ao digitar no textarea
            userInput.addEventListener('input', function() {
                buttonEnviar.disabled = userInput.value.trim() === '';
            });
        
            // Envia a mensagem ao pressionar Enter
            userInput.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    fecharModals();
                    enviarMensagem();
                }
            });
        
            // Adiciona mensagem ao chat
            function adicionarMensagemChat(sender, message) {
                const messageElement = document.createElement('div');
                messageElement.classList.add('message', sender);
                messageElement.textContent = message;
                chatBox.appendChild(messageElement);
                chatBox.scrollTop = chatBox.scrollHeight;
            }
        
            // Processa a mensagem do usuário
            async function processarMensagem(message, personalizacao = null) {
                try {
                    let endpoint = "{% url 'gerar_caso_stream' %}";
                    let bodyData = { user_input: message };
            
                    // Se houver dados de personalização, inclui-os na requisição
                    if (personalizacao) {
                        endpoint = "{% url 'personalizar_caso' %}";
                        bodyData = { ...personalizacao, user_input: message };
                    }
            
                    const response = await fetch(endpoint, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(bodyData)
                    });
            
                    if (!response.ok) throw new Error('Network response was not ok');
            
                    const reader = response.body.getReader();
                    const decoder = new TextDecoder();
                    let textoAcumulado = '';
                    let botMessageElement = null;
            
                    while (true) {
                        const { done, value } = await reader.read();
                        if (done) break;
            
                        const chunk = decoder.decode(value, { stream: true });
                        const parsedChunks = chunk.split('\n').filter(chunk => chunk.trim() !== '');
            
                        parsedChunks.forEach(parsedChunk => {
                            try {
                                const jsonChunk = JSON.parse(parsedChunk);
                                if (jsonChunk.response) {
                                    textoAcumulado = jsonChunk.response;
            
                                    if (!botMessageElement) {
                                        botMessageElement = document.createElement('div');
                                        botMessageElement.classList.add('message', 'bot');
                                        chatBox.appendChild(botMessageElement);
                                    }
            
                                    botMessageElement.textContent = textoAcumulado;
                                    chatBox.scrollTop = chatBox.scrollHeight;
                                } else if (jsonChunk.error) {
                                    adicionarMensagemChat('bot', jsonChunk.error);
                                }
                            } catch (error) {
                                adicionarMensagemChat('bot', "Erro ao processar a resposta do servidor.");
                            }
                        });
                    }
                } catch (error) {
                    adicionarMensagemChat('bot', "Erro ao se conectar com o servidor: " + error.message);
                }
            }
        
            // Evento para exibir o histórico ao clicar no botão "Histórico"
            buttonHistorico.addEventListener('click', function() {
                exibirModal(historicoBox);
                const userId = document.querySelector('input[name="user_id"]').value;
                fetch(`/pegar_historico/?user_id=${userId}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Dados recebidos do histórico:', data);
        
                        if (data.length > 0) {
                            let ultimaData = '';
                            informacoesHistorico.innerHTML = data.map((item, index ) => {
                                const dataAtual = item.date;

                                let formattedMessage = '';
                                if (item.role === 'system') {
                                    messageClass = 'message-system';
                                    formattedMessage = `<strong>System:</strong> ${item.content}`;
                                } else if (item.role === 'user') {
                                    messageClass = 'message-user';
                                    formattedMessage = `<strong>Você:</strong> ${item.content}`;
                                } else if (item.role === 'assistant') {
                                    messageClass = 'message-assistant';
                                    formattedMessage = `<strong>Assistente:</strong> ${item.content}`;
                                }

                                let dataSeparada = '';
                                if(dataAtual != ultimaData) {
                                    if(index !== 0) {
                                        dataSeparada = `<hr class="data-separada" />`;
                                    }
                                    ultimaData = dataAtual;
                                    dataSeparada += `<h4 class="historico-data">${new Date(dataAtual).toLocaleDateString()}</h4>`;
                                }

                                return `${dataSeparada}<div class="historico-mensagem">${formattedMessage}</div>`;
                            }).join('');
                        } else {
                            informacoesHistorico.innerHTML = '<p>Sem histórico disponível.</p>';
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao obter histórico:', error);
                    });
            });
        
            // Fechar o histórico ao clicar no botão de fechar
            buttonFecharHistorico.addEventListener('click', function() {
                fecharModals();
            });
        
            // Fechar o histórico ao clicar fora dele
            historicoBox.addEventListener('click', function(event) {
                if (event.target === historicoBox) {
                    fecharModals();
                }
            });
        
            // Função para abrir o modal de personalização
            buttonPersonalizar.addEventListener('click', function() {
                exibirModal(janelaPersonalizacao);
            });
        
            // Fechar o modal de personalização ao clicar no botão de fechar
            customizarButtonFechar.addEventListener('click', function() {
                fecharModals();
            });
        
            // Fechar o modal de personalização ao clicar fora dele
            janelaPersonalizacao.addEventListener('click', function(event) {
                if (event.target === janelaPersonalizacao) {
                    fecharModals();
                }
            });
        
            /// Função para enviar os dados de personalização
            formularioCustomizar.addEventListener('submit', async function(event) {
                event.preventDefault();
            
                const idade = document.getElementById('idade').value;
                const sexo = document.getElementById('sexo').value;
                const historicoMedico = document.getElementById('historico-medico').value;
                const contextoSocial = document.getElementById('contexto-social').value;
                const nivelComplexidade = document.querySelector('input[name="nivel-complexidade"]:checked').value;
            
                const personalizacao = {
                    idade: idade,
                    sexo: sexo,
                    historico_medico: historicoMedico,
                    contexto_social: contextoSocial,
                    nivel_complexidade: nivelComplexidade
                };
            
                try {
                    const response = await fetch("{% url 'personalizar_caso' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(personalizacao)
                    });
            
                    if (!response.ok) throw new Error('Erro ao aplicar personalização');
                    
                    const result = await response.json();
                    alert(result.message);  // Exibir uma mensagem de sucesso
                    fecharModals();  // Fecha o modal de personalização
                } catch (error) {
                    console.error(error);
                    alert('Ocorreu um erro ao tentar personalizar o caso clínico.');
                }
            });            

            // Função para resetar o chat-box
            function resetChatBox() {
                const chatBox = document.getElementById('chat-box');
                if (chatBox) {
                    const image = chatBox.querySelector('.imagem-chat-box');
                    const messages = chatBox.querySelectorAll('.message');
                    
                    // Remove apenas as mensagens, mas mantém a imagem
                    messages.forEach(message => message.remove());
                }
            }
        
            // Adiciona o evento ao botão de refresh
            buttonNovoCaso.addEventListener('click', function() {
                fecharModals(); // Fecha todos os modais
                resetChatBox(); // Limpa o conteúdo do chat-box
            });
        });         
    </script>
</body>
</html>